* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans Regular', sans-serif;
}

:root {
    --bg-color: #e7eff7;
    --second-bg-color: #c5d0d8;
    --text-color: #36454F;
    --main-color: #061E45;
    --para-color: #020f25;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--para-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar a {
    font-size: 1.9rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 600;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

    
.navbar a.active {
    color: var(--bg-color);
    padding: 7px;
    background-color: var(--main-color);
    border-radius: 5px;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
}

.home-content h3 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--text-color);
}

span {
    color: var(--main-color);
}

.logo span {
    color: var(--main-color);
}

.home-content h3 :nth-of-type(2) {
    margin-bottom: 2rem;
    font-size: 4.8rem;
}

.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    line-height: 1;
    color: var(--text-color);
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    top: 2rem;
    width: 50vw;
        /* adapts to screen size */
        max-width: 250px;
        /* prevents huge image on large screens */
        height: auto;
    border-radius: 56%;
    cursor: pointer;
}

.home-content p {
    font-size: 2.3rem;
    width: 100%;
    max-width: 600px;
    /* adapt to mobile */
    margin: 2rem auto;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: 0.3rem solid var(--main-color);
    font-size: 3rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: white;
    transform: scale(1.3) translateY(-5px);
    background-color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    background: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: 'Web Developer';
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid f1f1f1;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {

    0%,
    20% {
        content: 'Frontend Developer';
    }

    21%,
    40% {
        content: 'Web Developer';
    }

    41%,
    60% {
        content: 'Chess Arbiter';
    }

    61%,
    80% {
        content: 'Chess Player';
    }

}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80% {
        width: calc(100% + 8px);
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30rem;
    background: var(--second-bg-color);
}

.about-img {
    border-radius: 50%;
}

.about-img img {
    position: relative;
    width: 30vw;
    border-radius: 50%;
    top: 1rem;
    cursor: pointer;
}

.about .btn {
    margin-top: 3rem;
}

.heading {
    text-align: center;
    font-size: 8rem;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content h2 {
    text-align: left;
    color: var(--text-color);
}

.about-content p {
    margin-top: 4rem;
    font-size: 2.5rem;
    margin: 4rem 0 rem;
}

.about-content .text-animation span::before {
    content: 'Web Developer';
    color: var(--main-color);
    animation: words 20s infinite;
}

.about-content .text-animation span::after {
    content: '';
    background-color: var(--second-bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid f1f1f1;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    width: 50px;
}

.projects {
    background: var(--bg-color);
    color: var(--para-color);
}

.projects h2 {
    margin-bottom: 5rem;
    color: var(--text-color);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
}

.projects-box {
    border: 3px solid var(--main-color);
    height: auto;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.projects-box:hover {
    background: var(--main-color);
    color: white;
    transform: scale(1.03);
}

.projects-box .projects-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: baseline;
    padding: 4rem;
}

.projects-info h4 {
    font-size: 30px;
    font-weight: 600;
}

.projects-info p {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 400;
    margin: auto;
}
.projects-info img{
    width: 350px;
}


.skills {
    background-color: var(--second-bg-color);
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));    
    align-items: center;
    gap: 2.5rem;
}

.skills-box {
    border: 3px solid var(--bg-color);
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    background: var(--main-color);
    color: white;
    margin-bottom: 5px;
}

.skills-box:hover {
    transform: scale(1.14);
}

.skills-box .skills-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.skills-info h4 {
    font-size: 30px;
    font-weight: 600;
    align-self: center;
}

.skills-info img{
    width: 100px;
    height: 90px;
    align-self: center;
    border-radius: 10px;
}



.contact {
    background-color: var(--bg-color);
    padding-bottom: 0;
    margin-bottom: 0;
}

.contact h2 {
    margin-bottom: 50px;
    color: var(--text-color);
}

.social ul{
    list-style: none;
}

.social li{
    margin-bottom: 30px;
    margin-right: 100px;
}

.contact .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.contact .social a {
    font-size: 65px;
    background-color: var(--main-color);
    color: var(--bg-color);
    width: 82px;
    height: 82px;
    line-height: 42px;
    display: flex;
    border-radius: 20%;
    transition: 0.3s ease;
    padding-top: 10px;
    justify-content: center;
}

.contact .social a:hover {
    transform: scale(1.2) translateY(-10px);
}

.social img {
    width: 200px;
    border-radius: 100px;
    display: flex;
}

.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 350px;
}

.personal {
    border: 3px solid var(--main-color);
    width: 320px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: 0.3s ease;
}
.personal:hover {
    transform: scale(1.005);
}

.personal h4 {
    font-size: 20px;
    font-weight: 600;
}

.personal p {
    font-size: 2rem;
    font-weight: 400;
}


.footer {
    position: relative;
    width: 100%;
    padding: 50px 0;
    background-color: var(--main-color);
}


.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover {
    border-bottom: 3px solid white;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 11px;
    color: white;
}

@media(max-width:1285px) {
    html {
        font-size: 55%;
    }

    .projects-container {
        padding-bottom: 7rem;
        grid-template-columns: repeat (2, 1fr);
        margin: 0 5rem;
    }

    .home p {
        width: 700px;
    }

    .home img {
        width: 32vw;
    }
}

@media(max-width:991px) {
    header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width:895px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        display: none;
    }

    .navbar .active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: black;
    }

    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home p{
        width: 500px;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-content {
        margin: 0 2rem 4rem;
    }

    .about img {
        width: 64vw;
        margin-top: 1rem;
    }

    .projects h2 {
        margin-bottom: 3rem;
    }

    .projects-container {
        grid-template-columns: repeat(1,1fr);
    }
}



@media (max-width: 768px) {

    header {
        padding: 1.5rem 2rem;
    }

    .home-content h1 {
        font-size: 4rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .about img,
    .about-content {
        width: 90%;
        margin: auto;
    }

    .projects-container {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }

    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact .social {
        flex-direction: column;
    }

    .social a {
        width: 60px;
        height: 60px;
        font-size: 2rem;
    }

  

    .home-img img {
        width: 60vw;
        max-width: 200px;
    }
}
